.gallery {
    display: grid;
    margin: 1em 2.5em;
    border-radius: 10px;
}
.gallery_slide {
    grid-area: 1/1/1/1;
    display: grid;
    max-width: 771px;
}
.gallery .bigImg {
    border-radius: 10px;
}
.gallery .bigImg, .gallery .content {
    grid-area: 1/1/1/1;
}
.gallery .content {
    padding: 2em;
    display: flex;
    flex-direction: column;
}
.gallery .publisher img {
    width: 23px;
    border-radius: 50%;
    margin-right: 1em;
}
.gallery .publisher {
    display: flex;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 11px;
    align-items: center;
}
.slide_bar {
    display: flex;
    justify-content: space-between;
    color: #FFF;
}
.gallery .text {
    max-width: 400px;
    margin-top: auto;
}
.gallery .content h1 {
    font-size: 48px;
    color: #FFF;
    line-height: 1em;
    padding-bottom: 0.3em;
}
.gallery .text p {
    color: #FFF;
    padding-bottom: 2em;
}


.slides {
    display: flex;
    margin: 0 auto;
}
.slides *+*{
    margin-left: 0.3em;
}
.slideLine {
    width: 15px;
    height: 2px;
    background-color: #FFF;
    opacity: 0.5;
}
.slideLine.active {
    opacity: 1;
}