.latestnews {
    max-width: 372px;
    background-color: #FFF;
    border-radius: 10px;
    grid-row: 1/5;
}
.latestnews h1{
    border-radius: 10px 10px 0 0;
    background-color: #3F51B5;
    text-align: center;
    font-size: 18px;
    padding: 0.8em 0;
    color: #FFF;
    text-transform: uppercase;
}
.latestnews button{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 1.45em 0;
    color: #7B8591;
    text-transform: uppercase;
    border: none;
    border-top: 1px solid #95989a41;
    width: 100%;
    background-color: transparent;
}
.latestnews .news {
    margin: 1.5em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1.5em;
    align-items: center;
}
.latestnews .news img {
    border-radius: 10px;
}
.latestnews .text h2{
    font-size: 11px;
    text-transform: uppercase;
    padding-bottom: 1em;
    letter-spacing: 1px;
}
.latestnews .text p {
    color: #7B8591;
}