.VR {
    grid-row: 7/8;
    grid-column: 1/2;
    display: grid;
}
.VR > * {
    grid-area: 1/1/1/1;
}
.VR img {
    border-radius: 10px;
}
.VR h1 {
    text-align: center;
    color: #303336;
    text-transform: capitalize;
    padding: 1em;
}
.VR h2 {
    align-self: flex-end;
    text-align: end;
    padding: 1em;
    text-transform: uppercase;
    color: #D9A34A;
    font-size: 13px;
    letter-spacing: 1px;
}
.VR .bookmark {
    width: 10px;
    height: 27px;
    background-color: #FF0000;
    justify-self: flex-end;
    margin: 0 1em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75%, 0 100%);
}