* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
  height: auto;
}
.App {
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgb(187, 187, 187);
  padding: 1em;
}
.twocolumn {
  margin: 1em 2.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
}